<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BeanScene</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h3>BeanScene</h3>
        <nav>
          <a href="/coffeeshops">Coffeeshops</a>
          <a href="/users/login">Login</a>
          <a href="/users/register">Register</a>
        </nav>
      </header>
      <h1>Welcome to BeanScene!</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est minus ex
        autem ea, veritatis nisi maxime soluta illum voluptate exercitationem.
        Esse necessitatibus est voluptas enim, vel iusto consequuntur neque!
        Porro!
      </p>
    </div>
  </body>
</html>
