<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BeanScene</title>
    <link rel="stylesheet" href="../public/stylesheets/home.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <a href="/coffeeshops">Coffeeshops</a>
          <a href="/users/login">Login</a>
          <a href="/users/register">Register</a>
        </nav>
      </header>
      <h1>Welcome to BeanScene!</h1>
      <p>
        Embark on a Coffee Journey: Explore the Finest Coffee Shops, Savor
        Unique Blends, and Connect with a Vibrant Coffee Culture Near You!
        <!-- <img
          style="width: 100%"
          src="https://images.unsplash.com/photo-1515388293731-e768737d41e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80"
          alt=""
        /> -->
      </p>
    </div>
  </body>
</html>
