<% layout("layouts/boilerplate") -%>

<h1>Add a new Coffeeshop!</h1>

<form action="/coffeeshops" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" placeholder="Name" name="coffeeshop[name]" id="name" />
  </div>
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      placeholder="Location"
      name="coffeeshop[location]"
      id="location"
    />
  </div>
  <div>
    <label for="one">1</label>
    <input type="radio" id="one" name="coffeeshop[price]" value="1" />
    <label for="two">2</label>
    <input type="radio" id="two" name="coffeeshop[price]" value="2" />
    <label for="three">3</label>
    <input type="radio" checked id="three" name="coffeeshop[price]" value="3" />
    <label for="four">4</label>
    <input type="radio" id="four" name="coffeeshop[price]" value="4" />
    <label for="five">5</label>
    <input type="radio" id="five" name="coffeeshop[price]" value="5" />
  </div>
  <div>
    <label for="description">Description</label>
    <textarea
      name="coffeeshop[description]"
      id="description"
      cols="30"
      rows="5"
    ></textarea>
  </div>

  <button class="btn btn-primary">Submit</button>
</form>
