<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Shop Index</title>
  </head>
  <body>
    <h1>Coffee Shop Index</h1>
    <ul>
      <% for(shop of coffeeshops){ %>
      <li><a href="/coffeeshops/<%=shop._id %>"><%=shop.name %></a></li>
      <% } %>
    </ul>
    <a href="/coffeeshops/create">Submit a new Coffeeshop</a>
  </body>
</html>
